:root {
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --text-white: hsla(0, 0%, 100%, 0.75);
  --text-gray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
}

body, h1, p, a {
  padding: 0;
  margin: 0;
}

p {
  color: var(--text-white);
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.5rem;
  font-size: .875rem;
  max-width: 345px;
}

img {
  display: block;
}

a {
  text-decoration: none;
  font-family: 'Lexend Deca', sans-serif;
  font-size: .875rem;
  padding: .85rem;
  margin: 1.5rem 0 0;
  display: block;
  border-radius: 5rem;
  border: 2px solid var(--text-gray);
  width: 64%;
  max-width: 210px;
  min-width: 140px;
  text-align: center;
  background: var(--text-gray);
}

a:hover {
  background: inherit;
  color: var(--text-gray) !important;
}

h1 {
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.4rem;
  margin: 1.5rem 0;
}

.principal {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  background: var(--text-gray);
  color: var(--text-gray);
  border-radius: .6rem;
  overflow: hidden;
  width: 85vw;
}

.container section {
  padding: 3rem;
}

.sedans {
  background: var(--orange);
}

.sedans a {
  color: var(--orange);
}

.suvs {
  background: var(--cyan);
}

.suvs a {
  color: var(--cyan);
}

.luxury {
  background: var(--dark-cyan);
}

.luxury a {
  color: var(--dark-cyan);
}

@media (min-width: 641px) {
  .principal {
    align-items: center;
    height: 100vh;
  }

  .container {
    flex-direction: row;
    width: unset;
    margin: 0 10px;
  }

  .container section {
    padding: 3.333vw;
  }

  h1 {
    margin: 2.2rem 0;
  }

  a {
    max-width: unset;
    min-width: unset;
    width: 9rem;
    margin: 6rem 0 0;
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.8rem;
    max-width: 230px;
  }
}